.navbar {
  background-color: #CFFAFE;
  width: 100%;
  border-bottom: 1px solid #A5F3FC;
}
.navbar .dropdown-menu {
  background-color: transparent;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  margin-top: 7px;
}
.navbar .nav-link {
  border-radius: 360px;
  padding: 10px;
}
.navbar .nav-link:hover {
  background-color: #A5F3FC;
}
.navbar .nav-dropdown-section {
  padding: 24px;
  border-radius: 48px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: #ECFEFF;
  box-shadow: 0px 48px 60px rgba(8, 145, 178, 0.2);
}
.navbar .dropdown-lg {
  width: 800px;
}
@media (max-width: 992px) {
  .navbar .dropdown-lg {
    width: 100%;
    margin-left: 340px;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown-lg {
    width: 700px;
    margin-left: 700px;
  }
}
@media (max-width: 767px) {
  .navbar .dropdown-lg {
    width: 500px;
    margin-left: 500px;
  }
}
@media (max-width: 576px) {
  .navbar .dropdown-lg {
    width: 400px;
    margin-left: 400px;
  }
}
@media (max-width: 430px) {
  .navbar .dropdown-lg {
    width: 65%;
    margin-left: 225px;
  }
}
@media (max-width: 330px) {
  .navbar .dropdown-lg {
    width: 250px;
    margin-left: 250px;
  }
}
.navbar .dropdown-md {
  width: 600px;
}
@media (max-width: 1200px) {
  .navbar .dropdown-md {
    width: 600px;
  }
}
@media (max-width: 992px) {
  .navbar .dropdown-md {
    width: 600px;
    margin-left: 600px;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown-md {
    width: 600px;
    margin-left: 600px;
  }
}
@media (max-width: 750px) {
  .navbar .dropdown-md {
    width: 500px;
    margin-left: 500px;
  }
}
@media (max-width: 576px) {
  .navbar .dropdown-md {
    width: 300px;
    margin-left: 300px;
  }
}
@media (max-width: 430px) {
  .navbar .dropdown-md {
    width: 350px;
    margin-left: 350px;
  }
}
@media (max-width: 330px) {
  .navbar .dropdown-md {
    width: 280px;
    margin-left: 280px;
  }
}
.navbar .row-left {
  display: flex;
  align-items: flex-start;
}
.navbar .dropdown-property {
  text-decoration: none;
  margin-top: 20px;
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
}
.navbar .dropdown-property:hover {
  background-color: #CFFAFE;
}
.navbar .dropdown-property .dropdown-image {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .dropdown-property .dropdown-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .dropdown-property p {
  color: #155E75;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.navbar .about-menus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}
.navbar .about-menus .dropdown-property-about {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 24px;
  background: #CFFAFE;
  text-decoration: none;
  color: #155E75;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar .about-menus .dropdown-property-about:hover {
  background-color: #A5F3FC;
}
.navbar .row-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
}
.navbar .btn-workprocess {
  text-decoration: none;
  display: flex;
  padding: 16px 16px 16px var(--spacing-7, 24px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 360px;
  border: 3px dashed #67E8F9;
  background: #CFFAFE;
  color: #0E7490;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 768px) {
  .navbar .btn-workprocess {
    margin-top: 15px;
  }
}
.navbar .btn-workprocess span {
  color: #FFF;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: #0891B2;
}
.navbar .btn-capabilites {
  text-decoration: none;
  padding: 12px var(--spacing-7, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 24px;
  background: linear-gradient(0deg, rgba(255, 138, 0, 0.6) 0%, rgba(255, 138, 0, 0.6) 100%), url("../images/dropdown/bg_image.png") lightgray 50%/cover no-repeat;
}
.navbar .btn-capabilites a {
  text-decoration: none;
  align-self: stretch;
  color: var(--base-white, #FFF);
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}
.navbar .btn-all-products {
  margin-top: 20px;
  display: flex;
  padding: 12px var(--spacing-7, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 24px;
  background: url("../images/dropdown/all_product_bg.png") lightgray 50%/cover no-repeat;
}
.navbar .btn-all-products .fonts-product h1 {
  align-self: stretch;
  color: #FFF;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
}
.navbar .btn-all-products .fonts-product a {
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
}
.navbar .btn-teams-nav {
  text-decoration: none;
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  background: #CFFAFE;
}
@media (max-width: 767px) {
  .navbar .btn-teams-nav {
    margin-top: 15px;
  }
}
.navbar .btn-teams-nav .members-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}
@media (max-width: 430px) {
  .navbar .btn-teams-nav .members-area {
    display: block;
  }
}
@media (max-width: 330px) {
  .navbar .btn-teams-nav .members-area {
    margin-left: -20px;
  }
}
.navbar .btn-teams-nav .members-area h2 {
  color: #0891B2;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.navbar .btn-teams-nav .members-area .members {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar .btn-teams-nav .members-area .members .avaters {
  display: flex;
  align-items: center;
  gap: 0;
}
.navbar .btn-teams-nav .members-area .members .avaters img {
  width: 40px;
  height: 40px;
  border-radius: 35.294px;
  border: 1px solid #FFF;
}
.navbar .btn-teams-nav .members-area .members .avaters img:not(:first-child) {
  margin-left: -11px;
}
.navbar .btn-teams-nav .members-area .members .total-count {
  display: flex;
  height: 40px;
  padding: 8px 7px;
  margin-left: -15px;
  border-radius: 50%;
  border: 0.706px solid #FFF;
  background: #181C32;
}
.navbar .btn-teams-nav .members-area .members .total-count p {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
}
.navbar .btn-teams-nav .members-area .members .member {
  margin-top: 15px;
  color: #64748B;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.navbar .btn-events {
  margin-top: 20px;
  display: flex;
  padding: var(--spacing-7, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 24px;
  background: url("../images/events_btn.png") lightgray 50%/cover no-repeat;
}
.navbar .btn-events h1 {
  color: #FFF;
  text-decoration: none;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}
.navbar .nav-link {
  color: #0E7490;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.navbar .nav-button {
  display: flex;
  align-items: center;
}
@media (max-width: 768px), (max-width: 576px), (max-width: 430px), (max-width: 380px), (max-width: 330px) {
  .navbar .nav-button {
    margin-left: -5px;
  }
}

.hero {
  background-color: #CFFAFE;
  background-image: url("../images/arts.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: bottom;
  padding: 100px 100px 140px 100px;
  text-align: center;
}
@media (max-width: 1200px) {
  .hero {
    background-size: 80%;
  }
}
@media (max-width: 992px) {
  .hero {
    background-size: 80%;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 65px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 0px;
  }
}
@media (max-width: 430px) {
  .hero {
    padding: 0px;
  }
}
@media (max-width: 380px) {
  .hero {
    background-size: 80%;
  }
}
@media (max-width: 330px) {
  .hero {
    background-size: 80%;
  }
}
@media (max-width: 576px) {
  .hero .hero-content {
    padding-top: 30px;
  }
}
.hero .hero-content h1 {
  align-self: stretch;
  color: #0891B2;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 48px;
  font-weight: 900;
}
@media (max-width: 576px) {
  .hero .hero-content h1 {
    font-size: 32px;
  }
}
.hero .hero-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .hero .hero-content p {
    margin-top: 15px;
  }
}
.hero .hero-bottom {
  margin-top: 60px;
  margin-bottom: -104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .hero .hero-bottom {
    margin-bottom: 0px;
  }
}
.hero .hero-bottom p {
  text-align: center;
}
.hero .hero-bottom .images {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.hero .hero-bottom .images img {
  margin-right: 35px;
}
@media (max-width: 768px) {
  .hero .hero-bottom .images {
    gap: 35px;
  }
  .hero .hero-bottom .images img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .hero .hero-bottom .images {
    padding: 0px 10px 10px 20px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero .hero-bottom .images img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.hero .hero-bottom .btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.btn-linkPage {
  background-color: #083344;
  color: #FFF;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 360px;
  display: flex;
  padding: 4px 4px 4px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-linkPage span {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background-color: #0891B2;
}
.btn-linkPage:hover {
  background-color: #0891B2;
  color: #FFF;
}
.btn-linkPage:hover span {
  background-color: #083344;
  color: #FFF;
}

.btn-explore {
  display: flex;
  padding: 12px 22px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 360px;
  border: 1px solid #06B6D4;
  color: #0E7490;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
}
.btn-explore span {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.btn-explore:hover {
  background-color: #06B6D4;
  color: #FFF;
}
.btn-explore:hover span {
  color: #FFF;
}

.navbar-brand,
.nav-link,
.btn {
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.section-heding {
  color: #0891B2;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.about {
  background-color: #083344;
  height: auto;
  padding: 92px;
}
@media (max-width: 992px) {
  .about {
    padding: 55px 35px 45px 35px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 55px 35px 45px 35px;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 50px;
  }
}
@media (max-width: 575px) {
  .about {
    padding: 50px 15px 35px 15px;
  }
}
.about .status {
  width: 100%;
  background-color: #0891B2;
  border-radius: 60px;
  padding: 30px;
}
@media (max-width: 1024px) {
  .about .status {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .about .status {
    padding: 25px;
  }
}
@media (max-width: 992px) {
  .about .status .status-content {
    gap: 0px;
  }
}
@media (max-width: 770px) {
  .about .status .status-content {
    gap: 10px;
  }
}
@media (max-width: 769px) {
  .about .status .status-content {
    gap: 0px;
  }
}
@media (max-width: 755px) {
  .about .status .status-content {
    gap: 0px;
  }
}
@media (max-width: 576px) {
  .about .status .status-content {
    gap: 0px;
  }
}
@media (max-width: 575px) {
  .about .status .status-content {
    gap: 50px;
  }
}
@media (max-width: 480px) {
  .about .status .status-content {
    gap: 60px;
  }
}
@media (max-width: 405px) {
  .about .status .status-content {
    gap: 115px;
    padding-left: 20px;
  }
}
@media (max-width: 350px) {
  .about .status .status-content {
    padding-left: 5px;
  }
}
@media (max-width: 349px) {
  .about .status .status-content {
    gap: 100px;
    padding-left: 0px;
  }
}
@media (max-width: 405px) {
  .about .status .status-content .margin-top {
    margin-top: -110px;
  }
}
.about .status .status-content h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  .about .status .status-content h2 {
    font-size: 32px;
  }
}
@media (max-width: 405px) {
  .about .status .status-content h2 {
    font-size: 30px;
  }
}
.about .status .status-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #A5F3FC;
}
@media (max-width: 480px) {
  .about .status .status-content p {
    font-size: 14px;
  }
}
@media (max-width: 405px) {
  .about .status .status-content p {
    font-size: 12px;
  }
}
.about .info {
  margin-top: 100px;
}
.about .info .leftContent {
  width: 100%;
}
.about .info .leftContent p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #94A3B8;
}
.about .info .leftContent .aboutImageLeft {
  margin-top: 15px;
  position: relative;
  width: 380px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .about .info .leftContent .aboutImageLeft {
    width: 325px;
    height: 171px;
  }
}
@media (max-width: 1200px) {
  .about .info .leftContent .aboutImageLeft {
    width: 245px;
    height: 128.9px;
  }
}
@media (max-width: 1024px) {
  .about .info .leftContent .aboutImageLeft {
    width: 260px;
    height: 136.8px;
  }
}
@media (max-width: 991px) {
  .about .info .leftContent .aboutImageLeft {
    width: 335px;
    height: 176.3px;
  }
}
@media (max-width: 370px) {
  .about .info .leftContent .aboutImageLeft {
    width: 250px;
    height: 131.5px;
  }
}
.about .info .leftContent .aboutImageLeft h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.65px;
  color: #E2E8F0;
  padding: 5px 80px 10px 25px;
}
.about .info .leftContent .aboutImageLeft img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(70%);
}
.about .info .leftContent .aboutImageLeft .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
.about .info .leftContent .aboutMore {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}
.about .info .leftContent .aboutMore .btn-companyDeskDownload {
  background-color: #0891B2;
  color: #FFFFFF;
  border-radius: 70px;
  height: 75px;
  width: 100%;
  display: flex;
  padding: 0 20px;
}
@media (max-width: 1200px) {
  .about .info .leftContent .aboutMore .btn-companyDeskDownload {
    width: 245px;
  }
}
@media (max-width: 991px) {
  .about .info .leftContent .aboutMore .btn-companyDeskDownload {
    width: 335px;
  }
}
@media (max-width: 370px) {
  .about .info .leftContent .aboutMore .btn-companyDeskDownload {
    width: 250px;
  }
}
.about .info .leftContent .aboutMore .btn-companyDeskDownload .companyDownloadIcon {
  background-color: #083344;
  border-radius: 50%;
  padding: 20px;
  margin-right: 10px;
  margin-left: -13px;
}
.about .info .leftContent .aboutMore .btn-companyDeskDownload span {
  display: flex;
  flex-direction: column;
}
.about .info .leftContent .aboutMore .btn-companyDeskDownload span:hover {
  background-color: #0891B2;
}
.about .info .leftContent .aboutMore .btn-companyDeskDownload h5 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  text-align: left;
}
.about .info .leftContent .aboutMore .btn-companyDeskDownload p {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
  text-align: left;
}
.about .info .leftContent .aboutMore .btn-moreInfo {
  background-image: url("../images/21.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  border-radius: 70px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
@media (max-width: 1200px) {
  .about .info .leftContent .aboutMore .btn-moreInfo {
    width: 245px;
  }
}
@media (max-width: 991px) {
  .about .info .leftContent .aboutMore .btn-moreInfo {
    width: 335px;
  }
}
@media (max-width: 767px) {
  .about .info .leftContent .aboutMore .btn-moreInfo {
    margin-top: 15px;
  }
}
@media (max-width: 370px) {
  .about .info .leftContent .aboutMore .btn-moreInfo {
    margin-top: 15px;
    width: 250px;
  }
}
.about .info .leftContent .aboutMore .btn-moreInfo .moreInfoIcon {
  background-color: #0891B2;
  border-radius: 50%;
  padding: 20px;
  margin-right: 10px;
  margin-left: -13px;
}
.about .info .leftContent .aboutMore .btn-moreInfo span {
  display: flex;
  flex-direction: column;
}
.about .info .leftContent .aboutMore .btn-moreInfo h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-align: left;
}
.about .info .leftContent .aboutMore .btn-moreInfo p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  text-align: left;
}
.about .info .leftContent .achievements {
  margin-top: 30px;
  margin-bottom: 40px;
}
@media screen and (min-width: 767px) {
  .about .info .leftContent .achievements .carousel-inner {
    display: flex;
  }
  .about .info .leftContent .achievements .carousel-inner .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 33.3333333333%;
  }
}
.about .info .leftContent .achievements .carousel-item {
  padding-right: 1rem;
}
.about .info .leftContent .achievements .achivementImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0F172A;
  border-radius: 30px;
  height: 256px;
}
@media (max-width: 767px) {
  .about .info .leftContent .achievements .achivementImgContainer {
    width: 100%;
  }
}
.about .info .leftContent .achievements img {
  max-width: 100%;
  max-height: 100%; /* Ensure the image does not exceed the container */
  margin-bottom: 10px; /* Add spacing between the image and heading */
}
.about .info .leftContent .achievements h3 {
  color: #FFFFFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.about .info .leftContent .achievements .awardSlideBtn {
  background-color: #0891B2;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px; /* Adjust the right position as needed */
  border: none;
  cursor: pointer;
}
.about .info .leftContent .achievements .awardSlideBtn .awardSlideIcon {
  color: white; /* Set icon color */
}
.about .info .rightContent {
  padding: 0px 15px 0px 10px;
  position: sticky;
  top: 0;
  height: 100%;
}
.about .info .rightContent h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #155E75;
}
.about .info .rightContent .allEmpImgContainer {
  border-radius: 64px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  text-align: center;
}
.about .info .rightContent .allEmpImgContainer img {
  width: 409px;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  filter: brightness(70%);
}
.about .info .rightContent .allEmpImgContainer .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.about .info .rightContent .allEmpImgContainer a {
  text-decoration: none; /* Remove underline */
  color: #FFFFFF;
  text-align: center;
}
.about .info .rightContent .allEmpImgContainer a .play-icon {
  margin-left: -10px;
  margin-right: 5px; /* Add some space between the icon and text */
}
.about .info .rightContent .allEmpImgContainer a .play-icon img {
  width: 56px; /* Width of the play icon */
  height: 56px; /* Height of the play icon */
}

.product-section {
  display: flex;
  width: 100%;
  padding: 96px;
  gap: 48px;
  background: #A5F3FC;
}
.product-section .rowProducts {
  flex-wrap: wrap;
}
.product-section .rowProducts .productCard {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  height: 306px;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: var(--cyan-100, #CFFAFE);
}
.product-section .rowProducts .productCard .productImage {
  margin: 25px;
  display: flex;
  width: 128px;
  height: 128px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0px 6.5px 13px rgba(0, 0, 0, 0.03);
}
.product-section .rowProducts .productCard h3 {
  color: var(--slate-950, #020617);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.product-section .rowProducts .productCard p {
  color: var(--cyan-700, #0E7490);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.projectSection {
  display: flex;
  width: 100%;
  padding: 96px;
  gap: 48px;
  background: #CFFAFE;
}
.projectSection .rowProjects {
  flex-wrap: wrap;
}
.projectSection .rowProjects .projectCard {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  padding: 24px;
  align-items: center;
  gap: 20px;
  border-radius: 32px;
  background: #ECFEFF;
}
.projectSection .rowProjects .projectCard .projectImage {
  width: 100%;
  height: 260px;
  flex-shrink: 0;
  border-radius: 12px;
}
.projectSection .rowProjects .projectCard .projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo h4 {
  align-self: stretch;
  color: #020617;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .project {
  display: flex;
  align-items: center;
  color: #01767F;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .project .projectIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .projectTags {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px 4px;
  align-self: stretch;
  flex-wrap: wrap;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .projectTags .tag {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 360px;
  border: 1px solid #E2E8F0;
  color: #01767F;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .projectFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .projectFooter a {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  border-radius: 360px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .projectFooter .case {
  background: #0E7490;
  color: #FFF;
}
.projectSection .rowProjects .projectCard .projectDetails .projectInfo .projectFooter .live {
  color: #01767F;
  border: 1px solid #0E7490;
}

.services {
  display: flex;
  width: 100%;
  padding: 96px;
  gap: 48px;
  background: #A5F3FC;
}
.services .rowServices {
  flex-wrap: wrap;
}
.services .rowServices .serviceCard {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #CFFAFE;
}
.services .rowServices .serviceCard img {
  display: flex;
  width: 104px;
  height: 104px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -13px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 6.5px 13px 0px rgba(0, 0, 0, 0.03);
}
.services .rowServices .serviceCard .serviceContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.services .rowServices .serviceCard .serviceContent h4 {
  color: #020617;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.services .rowServices .serviceCard .serviceContent p {
  overflow: hidden;
  color: #0E7490;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services .rowServices .serviceCard .btn-service {
  color: #0E7490;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  display: flex;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 360px;
  background: #FFF;
}
.services .rowServices .serviceCard .btn-service span {
  color: #FFF;
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: #0891B2;
}
.services .footerButton {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .services .footerButton {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .services .footerButton a {
    width: 100%;
  }
}

.testimonial {
  padding: 96px;
  background: #CFFAFE;
}
.testimonial .testimonialCard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 32px;
  background: #FFF;
}
.testimonial .testimonialCard .cardHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.testimonial .testimonialCard .cardHeader .personImage {
  position: sticky;
  height: 48px;
}
.testimonial .testimonialCard .cardHeader .personImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testimonial .testimonialCard .cardHeader .personImage span {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22C55E;
  border-radius: 50%;
  border: 3px solid #FFF;
}
.testimonial .testimonialCard .cardHeader .personInfo .personName {
  color: var(--slate-800, var(--slate-800, #1E293B));
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.testimonial .testimonialCard .cardHeader .personInfo .personDesingnation {
  color: var(--slate-700, #334155);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.testimonial .testimonialCard .cardBody {
  align-self: stretch;
}
.testimonial .testimonialCard .cardBody p {
  color: #020617;
  font-family: "Noto Sans Bengali";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.testimonial .testimonialCard .cardBodyImage {
  overflow: hidden;
  position: relative;
}
.testimonial .testimonialCard .cardBodyImage img {
  width: 100%;
  height: 217px;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .testimonialCard .cardBodyImage .playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: #000;
}
.testimonial .testimonialCard .cardFooter {
  display: flex;
  align-items: center;
  gap: 4px;
}
.testimonial .testimonialCard .cardFooter p {
  color: var(--slate-900, #0F172A);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.testimonial .testimonialCard .cardFooter span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}
.testimonial .testimonialCard .cardFooter span svg {
  width: 20px;
  height: 20px;
}

.blogs {
  display: flex;
  width: 100%;
  padding: 96px;
  gap: 48px;
  background: var(--cyan-200, #A5F3FC);
}
.blogs .rowBlogs {
  flex-wrap: wrap;
}
.blogs .rowBlogs .blogsCard {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  flex-shrink: 0;
  border-radius: 32px;
}
.blogs .rowBlogs .blogsCard .cardImage {
  width: 100%; /* Ensure the card image takes up the full width of the card */
  overflow: hidden; /* Hide overflow */
}
.blogs .rowBlogs .blogsCard .cardImage img {
  width: 100%; /* Make the image stretch to fit the card width */
  height: 292px;
  border-radius: 32px 32px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  background: lightgray;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Make the card body take up the full width of the card */
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background: var(--cyan-100, #CFFAFE);
  padding: 20px;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .tagArea {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .tagArea .cardTag {
  padding: 4px 10px;
  border-radius: 50px;
  border: 1px solid var(--slate-200, #E2E8F0);
  font-family: Poppins;
  font-size: 14px;
  color: #01767F;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .tagArea .cardTag a {
  text-decoration: none;
  color: inherit;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .cardTitle {
  width: 100%;
  padding-top: 10px;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .cardTitle h3 {
  overflow: visible;
  white-space: normal;
  color: var(--slate-950, #020617);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .cardFooter {
  margin-bottom: -15px;
}
.blogs .rowBlogs .blogsCard .cardImage .cardBody .cardFooter p {
  color: #01767F;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.inquiry {
  width: 100%;
  padding: 96px;
  background: #CFFAFE;
}
.inquiry .inqImage img {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 48px;
}
.inquiry .inqForm .formElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.inquiry .inqForm .formElement .tagsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.inquiry .inqForm .formElement .tagsArea p {
  color: var(--slate-950, #020617);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.inquiry .inqForm .formElement .tagsArea .tags {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.inquiry .inqForm .formElement .tagsArea .tags .tag {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 360px;
  border: 1px solid var(--slate-300, #CBD5E1);
}
.inquiry .inqForm .formElement .tagsArea .tags .tag a {
  color: var(--slate-700, #334155);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}
.inquiry .inqForm .formElement .formItem {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.inquiry .inqForm .formElement .formLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: var(--slate-950, #020617);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.inquiry .inqForm .formElement .formLabel span {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.inquiry .inqForm .formElement .formInput {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 2px solid var(--slate-500, #64748B);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
  padding-bottom: 5px;
}
.inquiry .inqForm .formElement .formInput .inputArea {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
}
.inquiry .inqForm .formElement .formInput .inputArea input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 10px;
  color: var(--slate-950, #020617);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.inquiry .inqForm .formElement .formInput .mobileNoInputArea {
  display: flex;
  align-items: center;
  gap: 2px;
  align-self: stretch;
}
.inquiry .inqForm .formElement .formInput .mobileNoInputArea select {
  display: flex;
  padding: 10px 8px;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--slate-500, #64748B);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.03);
  background: transparent;
  border: none;
  outline: none;
  color: var(--base-black, #000);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.inquiry .inqForm .formElement .formInput .mobileNoInputArea input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  margin: 0;
  color: var(--slate-950, #020617);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.inquiry .inqForm .formElement .formInput span {
  width: 18px;
  height: 18px;
}
.inquiry .inqForm .formFooter {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.inquiry .inqForm .formFooter p {
  margin-top: 10px;
  color: var(--slate-700, #334155);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-button {
  display: flex;
  padding: var(--radius-sm, 4px) var(--radius-sm, 4px) var(--radius-sm, 4px) 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: var(--cyan-950, #083344);
  color: var(--base-white, var(--base-white, #FFF));
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.btn-button span {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background-color: #0891B2;
}

footer {
  background: #020617;
}
footer .footerTop {
  width: 100%;
  padding-top: 96px;
}
footer .footerTop .leftContent {
  display: flex;
  padding-right: 100px;
  flex-direction: column;
  gap: 24px;
}
footer .footerTop .leftContent .footerLogo {
  width: 184.243px;
  height: 41.739px;
}
footer .footerTop .leftContent p {
  align-self: stretch;
  color: #FEF2F2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .footerTop .leftContent .footerContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
footer .footerTop .leftContent .footerContact p {
  color: var(--base-white, #FFF);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}
footer .footerTop .leftContent .footerContact p .footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
footer .footerTop .leftContent .footerContact .contactInfoText {
  align-self: stretch;
  color: var(--cyan-500, #06B6D4);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration: none;
  margin: -20px 0px 5px 35px;
}
footer .footerTop .leftContent .footerContact .subscribe {
  display: flex;
  padding: var(--radius-sm, 4px) var(--radius-sm, 4px) var(--radius-sm, 4px) 22px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 360px;
  background: var(--cyan-950, #083344);
}
footer .footerTop .leftContent .footerContact .subscribe input {
  width: 15px;
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--slate-500, #64748B);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer .footerTop .leftContent .footerContact .subscribe button {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  background: var(--cyan-700, #0E7490);
  color: var(--base-white, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .footerTop .rightContent .footerLinks {
  display: flex;
  padding: 69px 0px 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
footer .footerTop .rightContent .footerLinks h5 {
  color: var(--base-white, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .footerTop .rightContent .footerLinks a {
  color: var(--cyan-500, #06B6D4);
  text-decoration: none;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
footer .footerBanner {
  width: 100%;
  padding-top: 32px;
}
footer .footerBanner p {
  color: #22D3EE;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .footerBanner .imageContainer img {
  height: 36.87px;
}
footer .footerBottom {
  width: 100%;
  padding: 32px 0px 32px 0px;
}
footer .footerBottom .bottomContent {
  display: flex;
  gap: 15px;
}
footer .footerBottom .bottomContent p {
  color: var(--red-50, #FEF2F2);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footerBottom .bottomContent a {
  color: var(--red-50, #FEF2F2);
  text-decoration: none;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footerBottom .bottomContent span {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 360px;
  border: 1px solid #083344;
}/*# sourceMappingURL=style.css.map */