.navbar {
    background-color: #CFFAFE;
    width: 100%;

    .nav-link{
        color: #0E7490;
        font-weight: 500;
        size: 14px;
        line-height: 24px;
    }
}
.navbar-divider {
    border-bottom: 1px solid rgba(207,250,254, 0.3);
}

.hero {
    background-color: #CFFAFE;
    background-image: url('../images/arts.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: bottom;
    padding: 15% ; // Adjusted padding to leave more space at the bottom
    text-align: center;

    h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: 900;
        font-size: 48px;
        line-height: 63.3px;
        color: #0891B2;
        margin-bottom: 20px; // Added margin to create space between h1 and p
        margin-top: -180px; // Adjusted margin from top
    }
    p {
        font-family: 'Poppins', sans-serif; // Using Poppins font for paragraphs
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #333; // Adjusted paragraph text color
        margin-top: 10px; // Adjusted margin from top
    }

    .heroBottom{
        margin-top: 6%;
        align-items: center;
        margin-bottom: -20%;
        img {
            margin-right: 35px; // Adjust the value as needed for the desired spacing
        }
    }

    .btn{
        display: inline-flex;
        align-items: center;
        text-decoration: none;
    }
    .material-symbols-outlined {
        margin-left: 5px; /* Adjust the spacing between icon and text */
    }
}


.btn-contact {
    background-color: #083344; // Background color
    color: #FFFFFF;
    border-radius: 360px;
    display: flex;
    padding: var(--radius-sm, 4px) var(--radius-sm, 4px) var(--radius-sm, 4px) 18px;

    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
        display: flex;
        padding: 7px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 360px;
        background-color: #0891B2;
    }
}

.btn-explore {
    background-color: #CFFAFE; // Background color
    color: #0891B2;
    border-radius: 30px;
    border-color: #0891B2;
    padding-right: 10px;

    span {
        display: inline-block;
        width: 35px;
        padding: 5px; // Optional padding
    }

    .bi-arrow-right {
        color: white; // Icon color
        margin-left: 5px; // Adjust spacing between text and icon
    }
}


.navbar-brand,
.nav-link,
.btn {
    font-family: 'Poppins', sans-serif;
}

.about {
    background-color: #083344;
    height: auto;

    .status {
        background-color: #0891B2;
        border-radius: 60px;
        position: relative;
        top: 80px;

        .status_content{
            padding: 40px 15px 15px 45px;

            h2{
                font-family: 'Roboto Slab', serif;
                font-weight: 700;
                font-size: 36px;
                color: #FFFFFF;
            }
            
            p{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: #A5F3FC;
            }
        }
    }

    .info{
        margin-top: 9%;

        .leftContent{
            padding: 0px 90px 0px 10px;
            

            p{
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #94A3B8;
            }

            .aboutImageLeft {
                margin-top: 15px;
                position: relative;
                width: 380px; 
                height: 200px;
                border-radius: 30px;
                overflow: hidden;
                margin-bottom: 20px;
            
                h2 {
                    font-family: 'Roboto Slab', serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 31.65px;
                    color: #E2E8F0;
                    padding: 5px 80px 10px 25px;
                }
              
                img {
                    width: 100%; 
                    height: auto; 
                    display: block; 
                    filter: brightness(70%); 
                }
              
                .text-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: white;
                }
            }

            .btn-companyDeskDownload {
                background-color: #0891B2;
                color: #FFFFFF;
                border-radius: 70px;
                width: 100%;
                height: 75px;
                display: flex;
                align-items: center;
                padding: 0 20px; // Added padding to space out the content
            
                .companyDownloadIcon {
                    background-color: #083344;
                    border-radius: 50%;
                    padding: 25px;
                    margin-right: 10px;
                    margin-left: -13px;
                }
            
                span {
                    display: flex;
                    flex-direction: column;
                }
            
                h5 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0; 
                }
            
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin: 0; 
                    margin-left: -135px;
                }
            }



            .aboutMore{
                margin-top: 25px;
                margin-bottom: 50px;
                
                .btn-moreInfo {
                    background-image: url('../images/21.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    color: #FFFFFF;
                    border-radius: 70px;
                    width: 100%;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                
                    .moreInfoIcon {
                        background-color: #0891B2;
                        border-radius: 50%;
                        padding: 25px;
                        margin-right: 10px;
                        margin-left: -13px;
                    }
                
                    span {
                        display: flex;
                        flex-direction: column;
                    }
                
                    h5 {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0;
                        margin-left: -40px;
                    }
                
                    p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        color: #FFFFFF;
                        margin: 0;
                        margin-left: 5px;
                    }
                }
            }   
            
            
            .achievements {
                margin-top: 30px;
                margin-bottom: 40px;
                
                .achivementImgContainer {
                    display: flex;
                    flex-direction: column; /* Stack content vertically */
                    justify-content: center; /* Center horizontally */
                    align-items: center; /* Center vertically */
                    width: 100%;
                    background-color: #0F172A;
                    border-radius: 30px;
                    height: 256px; /* Set a fixed height for the container, adjust as needed */
                }
                
                img {
                    max-width: 100%;
                    max-height: 100%; /* Ensure the image does not exceed the container */
                    margin-bottom: 10px; /* Add spacing between the image and heading */
                }
                
                h3 {
                    color: #FFFFFF; 
                    text-align: center; 
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
                
                .awardSlideBtn {
                    background-color: #0891B2;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -5px; /* Adjust the right position as needed */
                    border: none; 
                    cursor: pointer;
                    
                    .awardSlideIcon {
                        color: white; /* Set icon color */
                    }
                }
            }
            
              
        }

        .rightContent {
            padding: 0px 15px 0px 10px;
            position: sticky;
            top: 0;
            height: 100%;
        
            h1 {
                font-family: 'Poppins', sans-serif;
                font-weight: 800;
                font-size: 40px;
                line-height: 60px;
                color: #155E75;
            }
        
            .allEmpImgContainer {
                border-radius: 64px;
                overflow: hidden;
                position: relative; 
        
                img {
                    width: 409px; 
                    height: 256px; 
                    object-fit: cover; 
                    border-radius: inherit;
                    filter: brightness(70%); 
                }
        
                .overlay {
                    position: absolute;
                    top: 50%; 
                    left: 50%; 
                    transform: translate(-50%, -50%); 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-radius: 20px; 
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                }

                a {
                    text-decoration: none; /* Remove underline */
                    color: #FFFFFF;
                    .play-icon {
                        margin-left: -10px;
                        margin-right: 5px; /* Add some space between the icon and text */
                        img {
                            width: 56px; /* Width of the play icon */
                            height: 56px; /* Height of the play icon */
                        }
                    }
                }
            }
        }
        
        
    }
}


.featuredProducts {
    background-color: #A5F3FC;
    height: auto;
}